<div class="row">
  <div id="messages" class="messages col-md-10 col-md-offset-1">
    {% block messages %}{% endblock %}
    {% for message in messages %}
      <div id="message-{{message.id}}" class="message alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
      </div>
    {% endfor %}
    {% if form.errors %}
      <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {% for error in form.non_field_errors %}
          <li>{{error|striptags}}</li>
        {% endfor %}
        {% for field in form %} 
          {% if field.errors %}
          <li>{{ field.label }}: {{ field.errors|striptags }}</li>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>


