.input-row {
  margin-bottom: 15px;
}
.date-title {
  font-weight: 500;
  font-size: 24px;
}
.assignee {
  text-align: right;
  font-size: 20px;
  font-weight: 300;
}
.theme {
  font-size: 20px;
  font-weight: 300;
}
.list-group {
  margin-top: 20px;
}
.bottom-menu {
  margin-top: 20px;
}
select[multiple].multi-drop {
  height: 200px;
}
#waist {
  min-height: 450px;
}
.select .dropdown-toggle.btn-block {
  width: 100%;
}
